#POSTGRES
POSTGRES_USER=nostrada

POSTGRES_PASSWORD=nostrada

POSTGRES_DB=nostrada

#API
PORT=4000

DATABASE_URL=postgresql://user:password@db:5432/dbname?schema=public

ALLOWED_ORIGIN=http://localhost:3000

JWT_SECRET=my_jwt_secret

FOOTBALL_DATA_API_TOKEN=my_token
