.main {
  padding: 2rem 5%;
}

.profil {
  display: flex;
  align-items: center ;
  gap: .5rem;
  max-width: 600px;
  margin: auto;
  padding: 1rem;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  background: var(--white);
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.pronos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.pronos h2 {
  text-align: center;
  margin: 2rem 0;
  margin-bottom: 1rem;
}

.pronos>div {
  width: 100%;
}

.prono {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  background: var(--white);
}

.choice {
  display: flex;
  gap: 1rem;

  p {
    text-align: center;
    font-weight: bold;
    width: 30px;
    height: 30px;
    padding: .5rem;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
  }

  p.active {
    color: var(--white);
    background: var(--primary);
  }
}

.stats {
  width: 100%;
}

.stats h2 {
  text-align: center;
  margin: 2rem 0;
  margin-bottom: 1rem;
}

.stat {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  background: var(--white);
}

.goPronos {
  color: var(--secondary);
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  display: block;
  transition: opacity 0.2s ease;
  text-align: center;
}

@media (min-width: 500px) {
  .profil {
    gap: 1.5rem;
    padding-left: 5rem;
  }

  .avatar {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 1000px) {
  .wrapper {
    flex-direction: row;
  }
}