:root {
  --primary: #1a3a7a;
  --secondary: #3562a6;
  --action-color: #ffd700;
  --action-color-hover: #e0bf00;
  --dark-grey: #e6e6e6;
  --light-grey: #eff0f1;
  --dark: #000;
  --white: #fff;
  --primary-font: "Ubuntu", sans-serif;
  --box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  --hover-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--dark);
  background: var(--white);
  font-family: var(--primary-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
