.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  padding: 0 1%;
  background: var(--primary);
}

.navlinks {
  display: none;
}

.logo {
  max-width: 100px;
  max-height: 100px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
  color: var(--dark);

  .button {
    border-radius: 10px;
    padding: 0.3rem;
  }

  .registerButton {
    margin-right: .1rem;
    background: var(--light-grey);
  }

  .registerButton:hover {
    background: var(--dark-grey);
  }

  .userIcon {
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--white);
    padding: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .userIcon img {
    filter: brightness(0) invert(0);
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .loginButton {
    background: var(--action-color);
  }

  .loginButton:hover {
    background: var(--action-color-hover);
  }
}

@media (min-width: 650px) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    max-width: 400px;
  }

  .navlinks {
    display: inline;
  }

  .navlinks:hover {
    text-decoration: underline;
  }

  .buttons .userIcon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 320px) {
  .header {
    padding: 0 5%;
  }

  .buttons .registerButton {
    margin-right: .5rem;
  }
}